<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post-It</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar__flex">
          <div class="navbar__header">
            <a href="/" class="navbar-home">Post-It</a>
          </div>
          <div class="navbar__links">
            <ul class="navbar__links-right">
              {% if currentUser %}

              <li><a class="link" href="/app">Posts</a></li>

              <li><a class="link" href="/users">Users</a></li>

              <li><a class="link" href="/logout">Logout</a></li>
              {% else  %}

              <li><a class="link" href="/login">Login</a></li>

              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="section">
      <div class="container">

        {% if old('error') %}
          <div class="alert nope">
            <h2>{{ old('error') }}</h2>
          </div>
        {% endif %}

        {% if old('success') %}
          <div class="alert sure">
            <h2>{{ old('success') }}</h2>
          </div>
        {% endif %}

        {% block content %}

        {% endblock %}

      </div>
    </div>

  </body>
</html>
