{% extends 'layout' %}

{% block content %}
<div class="">

  <div class="register-card">

    <div class="card-container">

      <div class="card__head">
        <h2>Let's Get Started!</h2>
      </div>

      <div class="button">
        <a href="/login" class="btn-white">Login</a>
        <a href="/register" class="btn-green">Sign Up</a>
      </div>

    </div>

  </div>

</div>
{% endblock %}
