// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$c-green: #92c94e;
$c-text: #cdecd1;
$c-back: #ecf7f2;
$c-borderblue: #67c5cc;
$c-pure-white: #fff;
$c-danger: #d9534f;
$c-success: #5cb85c;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'nav';
@import 'login';
@import 'grid-layout';
@import 'alert-paddles';

.main {
  display: flex;
}

.ribbit-card {
  flex-basis: 30%;
  margin: auto;
  margin-top: 2rem;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
}

.ribbits {
  flex-basis: 65%;
}

.ribbit-textarea {
  width: 90%;
  margin: 1rem auto;
  border: 0;
  border-bottom: 0.2rem solid $c-borderblue;

}
