// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$c-green: #92c94e;
$c-text: #cdecd1;
$c-back: #ecf7f2;
$c-borderblue: #67c5cc;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'nav';


.section {
  height: 100vh;
  margin: 0;
  background: $c-back;
}

.register-card {
  width: 40%;
  margin: auto;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
}

.card-container {
  margin: 0.5rem;
}

.card__head {
  padding: 0rem;
  background: $c-green;
  color: $c-text;
}

.form-line {
  display: flex;
  flex-direction: column;
  margin: 1rem, 0.5rem, 0, 0.5rem;

}

.form-control {
  font-size: 0.8rem;
  border: 0;
  border-bottom: 0.1rem solid $c-borderblue;
}

.button {
  display: flex;
  justify-content: space-between;
}

.btn {
// padding: 0.9rem;
margin: 1rem;
}
