.grid {
  &-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-title {
  width: 100%;
  border-bottom: 0.2rem solid $c-borderblue;
}

.user__card {
  display: flex;
  flex-grow: 1;
  width: calc(100% / 3 - 2rem);
  max-width: 23rem;
  min-width: 12rem;
  margin: 1rem;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

  &-img {
    margin: 0.3rem;
  }

  &-title {
    margin-bottom: 0.3rem;
  }
  &-handle {
    margin: 0;
  }
}
