.section {
  height: 100vh;
  margin: 0;
  background: $c-back;
}

.register-card {
  flex-basis: 40%;
  margin: auto;
  margin-top: 2rem;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
}

.card__head {
  padding: 1rem 0.5rem;
  background: $c-green;
  color: $c-text;

  & h2 {
    margin: 0;
  }
}

.form-line {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

}

.form-control {
  border: 0;
  border-bottom: 0.1rem solid $c-borderblue;
  font-size: 0.8rem;
}

.button {
  display: flex;
  justify-content: space-between;
}

.btn-green {
  margin: 1rem;
  padding: 0.8rem;
  border: 0;
  background: $c-green;
  color: $c-back;
  font-size: 1rem;
}

.btn-white {
  margin: 1rem;
  padding: 0.8rem;
  border: 0;
  background: $c-back;
  color: $c-borderblue;
  font-size: 1rem;
}
