.container {
  width: 60rem;
  margin: 0 auto;
}

.navbar {
  flex-basis: 100%;
  background: $c-green;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-home {
    color: $c-text;
    text-decoration: none;
  }

  &__links {
    &-right {
      display: flex;

      & li {
        margin: 1rem;
      }
    }
  }
}

.link {
  color: $c-text;
  text-decoration: none;
}
